.seller{
  display: flex;
  margin: 10px;
  justify-content: flex-end;
  border: 2px solid #000;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  height: 70px;
}
.sellerTime{
margin-right: 10px;
margin-left: 10px;
}
.sellerMessage{
  margin-right: 10px;
margin-left: 10px;
}
