.infoUser {
  display: flex;
}
.profileInfo {
  display: flex;
  width: 550px;
  margin-top: 20px;
}
.info1 {
  width: 150px;
}
.info {
  width: 300px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.butt{
  margin: 10px;
}
