.containerCatalog {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBtnCatalog {
    background-color: #007bff;
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin-top: 30px;
    margin-bottom: 30px;
}
  
.searchBtnCatalog:hover {
    background-color: #0056b3; 
}
  


.unvItems {
    display: none;
}

.itemDivCat {
    display: flex;
    margin-top: 200px;
}