.mainContainerSelectCategory {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.mainSelectCategoryDiv {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.selectCategoryBtn {
  margin: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px; 
  cursor: pointer;
}

.selectCategoryBtn:hover {
  background-color: #0056b3; 
}

.brightButton {
  background-color: #061f39; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.parentCategoryDiv {
  display: flex;
}

.parentCategoryName {
  margin: 5px;
  cursor: pointer;
}
