/* Стили для кнопок .selectAnotherCategory */
.selectAnotherCategory {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
  }
  
/* Стили для активной кнопки */
.selectAnotherCategory.active {
background-color: #ff5733;
}

.containerAddMainDiv {
display: flex; /* Устанавливаем flex-контейнер для горизонтального расположения элементов */
justify-content: space-between; /* Равномерно распределяем элементы по горизонтали */
}  
