.navbar {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0; 
  background-color: #343a40;
  color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}
  
.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand:hover {
  color: rgb(152, 22, 22);
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
  
.nav-link:hover {
  color: #6c6d6e;
}
  
.nav-link:active {
  color: rgb(134, 17, 17); 
}
  
.notification-badge {
  display: inline-block;
  width: 16px; 
  height: 16px;
  background-color: #ff0000;
  color: #fff; 
  text-align: center;
  line-height: 16px; 
  border-radius: 50%; 
  margin-left: 5px; 
  font-size: 10px; 
  vertical-align: top; 
}

@keyframes backgroundAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.navbar {
  background: linear-gradient(to left, black, gray); 
  background-size: 200% 100%;
  animation: backgroundAnimation 5s linear infinite alternate; 
  color: white;
  text-align: center;
  font-size: 24px;
  padding: 20px;
}

